.postlist-container {
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;           
}

.post-container{
   display: flex;
   flex-direction: column; 
   width: 600px;
   padding: 20px;
   background-color: lightgray;
   border: dotted 10px  white;
   margin-bottom: 8px;
}

.post-text-container{ 
   padding: 5px;
   background-color: white;
}

.postdate{
   font-size: small;
   font-style: italic;
}

.post-pic-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   width: 100%;       
}

.post-pic{
   display: flex;
   flex-wrap: wrap;  
   border: solid 8px lightgray;      
   width: 600px; 
   height: 600px; 
   overflow: hidden;  
   background-size: 100px;
   background-position: 45%;    
}

.post-pic-image{
   width: 100%; 
   height: 100%; 
   object-fit: cover;
  }


 @media only screen and (max-width: 768px) {
   .post-container {
      width: 550px;
   }

   .post-pic {
      width: 550px;
      height: 550px;
   }
 }


@media only screen and (max-width: 600px) {
   .post-container {
      width: 425px;
   }

   .post-pic {
      width: 400px;
      height: 400px;
   }
 }
