.signup-container {
   width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;  
    background-image: url(../../assets/paper.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Darumadrop One', cursive;
 }
 
 .signup-card {
   display: flex;   
   justify-content: space-between;
   align-items: center;
   width: 85%;
   max-width: 1000px;   
   min-height: 450px;  
   margin: 10px;
   background-color: white;  
   border-radius: 5px;   
   border-color: black;
}
 
 .signup-left {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   color: white;   
   width: 50%;    
   height: 600px;  
   border-bottom: solid black 6px;
   border-top: solid black 6px;
   border-left: solid black 6px;
   border-radius: 15px 0 0 15px;
   background-image: url('../../assets/rainbow.png');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   box-shadow: 3px 6px #000634;
  }
 
 .signup-left-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 95%;     
   padding: 5px; 
 }
 
 .signup-header {
    color: rgb(47, 47, 118);   
    font-size: 75px;   
    margin-top: 110px;
    margin-bottom: 30px;
 }
 
 .signup-form {     
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   justify-content:flex-start;
   height: 50%;  
   margin: 0px;
   /* background-color: white;       */
 }
 
 .signup-input{   
    border-radius: 10px;
    padding: 5px;
    margin: 3px;
    border-color: gray;
 }
 
 .signup-btn {   
    margin: 20px;
    border-radius: 50px;
    color: white;
    padding: 15px 50px;   
    font-size: medium;
    font-weight: bold;
    background-color: rgb(255, 0, 157);
 }
 
 .yes-account{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    margin: 0px;
    height: 20%;  
    color: black;       
 }
 
 .yes-acct-tag {
    font-size: medium;      
  }

 .login-link {
   border-radius: 50px;   
   width: 75%;
   padding: 5px;
   margin: 3px;
   background-color: rgb(170, 0, 255);
   border: solid 1px black;
  
 }
 
 .go-login-btn{
   border-radius: 50px; 
   width: 100%;
   background-color: rgb(170, 0, 255);
   color: white;
   border: none;
 }
 
 .signup-right {
   display: flex;
   flex-direction: column;  
   align-items: center;
   justify-content: center;
   text-align: center;
   color: white;
   width: 50%;   
   height: 600px;
   border-bottom: solid black 6px;
   border-top: solid black 6px;
   border-right: solid black 6px;
   border-radius: 0 15px 15px 0;
   background-image: url('../../assets/no_mail_background.png');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   box-shadow: 3px 6px #000634;
}
 
 .signup-logo-header{
    margin: 0;  
    font-size: 130px;      
    display: flex;
    
 }

 .signup-home-link {
   text-decoration: none;
 }
 
 .m{
    color: rgb(98, 0, 255);  
  text-shadow: 3px 6px #000634;

 }
 
 .i {
    color:rgb(170, 0, 255); 
  text-shadow: 3px 6px #000634;

 }
 
 .signup-icon{
    font-size: 100px;  
    padding-top: 30px;   
    color: white;
    filter: drop-shadow(3px 2px #000634);
 }
 
 .e {
    color:rgb(255, 0, 157);   
  text-shadow: 3px 6px #000634;

 }
 
 .r {
    color:rgb(255, 0, 85);   
  text-shadow: 3px 6px #000634;

 }
 
 .signup-tag{
   font-size: x-large;
   margin-top: 0;      
   text-shadow: 3px 2px #000634;  
 }
 
  
@media only screen and (max-width: 992px) {
   .signup-card {
      width: 95%;        
   }
   .signup-logo-header {
      font-size: 115px;
   }   
   .signup-icon {
      font-size: 85px;
   }
}
 
@media only screen and (max-width: 768px) {
   .signup-card {
      flex-direction: column;      
   }   

   .signup-left {
      width: 100%;
      height: 375px;
      border-bottom-left-radius: 00px;
      border-top-right-radius: 10px;   
      border-bottom: none;
      border-top: solid black 6px;
      border-left: solid black 6px;
      border-right: solid black 6px;
   }

   .signup-header {
      margin-top: 35px;
      margin-bottom: 0px;
      font-size: 55px;    
   }

   .signup-form {
      padding-top: 10px;
      justify-content: flex-start;
      height: 60%;   
   }

   .yes-account {
      justify-content: center;
      height: 35%;          
   }

   .signup-btn {
      margin: 3px;
      padding: 8px 40px;  
      width: 85%;
   }

   .go-login-btn {
      margin: 0px;              
   }

   .yes-acct-tag {      
      margin-bottom: 3px;
   }

   .signup-right {
      width: 100%;
      height: 325px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 0px;
      border-bottom: solid black 6px;
      border-top: none;
      border-right: solid black 6px;
      border-left: solid black 6px;
   }

}

