.login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;      
    background-color: rgb(90, 90, 145);   
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Darumadrop One', cursive;
  }
  
  .login-card {
    display: flex;   
    justify-content: space-between;
    align-items: center;
    width: 85%;
    max-width: 1000px;   
    min-height: 450px;  
    margin: 10px;
    background-color: white;  
    border-radius: 10px;   
  }
  
  .login-left {
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    width: 70%;   
    height: 600px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-color: rgb(47, 47, 118);      
  }
  .login-home-link {
    text-decoration: none;
  }
  
  .logo-header{
    margin: 0;  
    font-size: 150px;      
    display: flex;
  }
  
  .m{
    color: rgb(98, 0, 255);
    
  
  }
  .i {
    color:rgb(170, 0, 255);
   
    
  }
  .login-icon{
    font-size: 120px;  
    padding-top: 30px;
    color: white;
    
  }
  .e {
    color:rgb(255, 0, 157);
    
  }
  .r {
    color:rgb(255, 0, 85);
    
  }
  
  .logo-tag{
    font-size: x-large;
    margin-top: 0;      
    
  }
  
  .login-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;   
    width: 30%;    
    height: 600px;     
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    background-color: white;        
  }
  
  .login-right-container {
   display: flex;
   flex-direction: column;  
   align-items: center;
   justify-content: center;
   height: 100%;
   width: 95%;    
   padding: 5px; 
  }
  
  .login-form {     
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   justify-content:flex-end;
   height: 50%;  
   margin: 0px;
   background-color: white;      
  }
  
  .login-input{   
   border-radius: 10px;
   padding: 5px;
   margin: 3px;
   border-color: gray;
  }
  
  .login-btn {   
    margin: 20px;
    border-radius: 50px;
    color: white;
    padding: 15px 50px;   
    font-size: medium;
    font-weight: bold;
    background-color: rgb(255, 0, 157);
  }
  
  .no-account{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:flex-end;
   margin: 0px;
   height: 20%;  
   color: black;     
   }
  
   .no-acct-tag {
     font-size: medium;      
    }
  
    .signup-link {  
      border-radius: 50px;   
      width: 75%;
      padding: 5px;
      margin: 3px;
      background-color: rgb(170, 0, 255);
      border: solid 1px black;   
    }
   
   .go-signup-btn{
      border-radius: 50px;      
      width: 100%;
      background-color: rgb(170, 0, 255);
      color: white;
      border: none;
    }
  
    @media only screen and (max-width: 992px) {
      .login-card {
         width: 95%;        
      }
    }

    @media only screen and (max-width: 768px) {
      .login-card {
         flex-direction: column;       
      }
  
      .login-left {
         width: 100%;
         height: 450px;
         border-bottom-left-radius: 0px;
         border-top-right-radius: 10px;
      }
  
      .logo-header {
         font-size: 130px;
      }
  
      .icon {
         font-size: 100px;
      }
  
      .login-right {
         width: 100%;
         height: 250px;
         border-bottom-left-radius: 10px;
         border-top-right-radius: 0px;
      }
  
      .login-form {
         padding-top: 10px;
         justify-content: flex-start;
         height: 60%;
     
      }
  
      .no-account {
         justify-content: center;
         height: 35%;    
          
      }
  
      .login-btn {
         margin: 3px;
         padding: 8px 40px;  
         width: 85%;
      }
  
      .go-signup-btn {
         margin: 0px;              
      }
      .no-acct-tag {      
         margin-bottom: 3px;
        }
  }

