.singlepost-container {
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   width: 100%;
   display: flex;
   flex-direction: column;

}

.singlepost-block{
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;   
}

.singlepost-content {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center; 
   margin-top: 50px;   
}

.singlepost-title {
   text-align: center;
}

.singlepost-text {   
   border: solid purple;
   width: 450px;
   margin-bottom: 50px;   
}

.singlepost-comment-container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center; 
  }

.singlepost-commentlist {  
   min-width: 25%;
}

.singlepost-commentform { 
   min-width: 25%;
}