.commentform-container {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid red; */
}
.comment-form {
    width: 100%;
}
.comment-textarea-container {
    width: 100%;
}
.commentform-textarea {
    width: 100%;
   border: 3px dashed black;
   border-radius: 15px;
padding: 5px;
}

.commentform-button {
    width: 120px;
    height: 40px;
    border-radius: 25px;
    background: white;
    box-shadow: 3px 6px #000634;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    color: #000000;
    font-weight: bold;
    font-size: small;
    cursor: pointer;
    transition: transform 0.2s ease-out;
    text-decoration: none;
    margin-bottom: 1rem;
}
.commentform-button:hover{
    background-color: #3a353b;
    color: white;
   }