.current-challenge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    margin-top: 20px;
    padding: 3px;
    border: solid black;
    border-radius: 10px;
    background-color: beige;
    font-weight: bold;
}

.current-container {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    width: 100%;
    /* border: solid lightgray; */
    font-size: large;
    



}