.postform-container {   
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height:fit-content;       
}
   
.postform-body {
  display: flex;
}
   
.postform-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;     
}
     
.postform-textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;         
}

.postform-btn-container {
  display: flex;     
  align-items: center;      
  width: 400px;
  margin: 10px;      
}
     
.postform-button {    
  display: flex;
  text-align: center;
  position: relative;
  margin-left: 30px;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background: lightgray;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkgray;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
  }

.postform-btn-label {
  border: none;
  background: lightgray;
  color: darkgray;
  font-weight: bold;
}

.postfile-input {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 53px;
  margin-left: -190px;  
}

.postfile-input label {
  display: flex;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background: lightgray;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkgray;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
}

.postfile-name {
  position: absolute;
  bottom: -35px;
  left: 10px;
  font-size: 0.85rem;
  color: #555;
}

.change-postfile, .postfile {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}
   
.preview-container {
  width: 100%;  
  display: flex;
}
.preview-postpic-container {
  display: flex;    
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;   
}


.preview-post-pic{  
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px; 
  margin-bottom: 0px;
  border: solid 8px lightgray;      
  width: 100px; 
  height: 100px; 
  overflow: hidden;    
  background-size: 200px;
  background-position: 45%;  
}

.preview-postimage{
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

.postpic-button-container, .postsave-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.change-postfile-input label {
  display: flex;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background: lightgray;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: darkgray;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
}

.post-save-btn {
  display: block;
  position: relative;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(40deg, #ff6ec4, #7873f5);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
}

input:hover + label,
input:focus + label {
  transform: scale(1.02);
}

input:focus + label {
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}

button:hover + label,
button:focus + label {
  transform: scale(1.02);
}

button:focus + label {
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}

.error-message {
 margin-bottom: -100px;
 margin-right: -300px;
 color: red; 
}