.postform-container {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  width: 100%;
}

.postform {   
  display: flex;
  flex-direction: column;
  width: 600px; 
  height: 250px;
  padding:20px; 
  background-image: url('../../assets/home_post.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  border: 4px solid rgb(0 6 52);
  box-shadow: 5px 6px #000634;
  margin-bottom: 15px; 
  align-items: center;   
  justify-content: center;
  text-align: center;
  font-size: large; 
}
   
.postform-body {
  display: flex; 
}
   
.postform-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;     
}
     
.postform-textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;         
}

.postform-btn-container {
  display: flex;     
  align-items: center;      
  width: 400px;
  margin: 10px;      
}
     
.postform-button {    
  width: 130px;
  height: 45px;
  border-radius: 15px;
  background: white;
  box-shadow: 3px 6px #000634;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  color: #000000;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  text-decoration: none;
  margin: 0 5px;
  }

.postform-btn-label {
  border: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: white;
}
.challenge {
  display: flex;
  width: 100%;
  font-size: large;
  color: black;
  justify-content: center;
}

.postfile-input {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 53px;
  margin-left: -190px;    
}

.postfile-input label {
   width: 130px;
  height: 45px;
  border-radius: 15px;
  background: white;
  box-shadow: 3px 6px #000634;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  color: #000000;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  text-decoration: none;
  margin-bottom: 1.9rem;
  margin-left: 2.5rem;
}

.postfile-name {
  position: absolute;
  bottom: -35px;
  left: 10px;
  font-size: 0.85rem;
  color: #555;  
}

.change-postfile, .postfile {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;  
}
   
.preview-container {
  width: 100%;  
  display: flex;  
}

.preview-postpic-container {
  display: flex;    
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;   
}

.preview-post-pic{  
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px; 
  margin-bottom: 0px;
  border: solid 8px lightgray;      
  width: 100px; 
  height: 100px; 
  overflow: hidden;    
  background-size: 200px;
  background-position: 45%;  
}

.preview-postimage{
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

.postpic-button-container, .postsave-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-left: 5px;
}

.change-postfile-input label { 
  width: 120px;
  height: 40px;
  border-radius: 25px;
  background: white;
  box-shadow: 3px 6px #000634;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  color: #000000;
  font-weight: bold;
  font-size: small;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  text-decoration: none;
  margin-bottom: 1rem;
}

.post-save-btn {
  margin-right: 0;
  margin-top: -30px;
  width: 120px;
  height: 40px;
  border-radius: 25px;
  background: rgb(170, 0, 255); 
  box-shadow: 3px 6px #000634;
  border: 2px solid black;
  color: white;
  font-weight: bold;
  font-size: small;
  cursor: pointer;
  transition: transform 0.2s ease-out;
  text-decoration: none;
}

input:hover + label,
input:focus + label {
  transform: scale(1.02);
}

input:focus + label {
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}

button:hover + label,
button:focus + label {
  transform: scale(1.02);
}

button:focus + label {
  outline: 1px solid #000;
  outline: -webkit-focus-ring-color auto 2px;
}

.error-message {
 margin-bottom: -100px;
 margin-right: -300px;
 color: red; 
}

@media only screen and (max-width: 768px) {
  .postform {
     width: 550px;
  }     
}


@media only screen and (max-width: 600px) {
  .postform {
     width: 425px;
  }      
}

@media only screen and (max-width: 500px) {
  .postform {
     width: 375px;
     height: 150px;        
  }      
}