/* @import url(
'https://fonts.googleapis.com/css2?family=Lobster&display=swap'); */

.canvas-container {
width: 100%;
height: 100vh;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
/* background-image: linear-gradient(
	120deg, #fdfbfb 0%, #ebedee 100%); */
	background-size: cover;  
    background-image: url('../../assets/../assets//background_light-green.png');
    background-attachment: fixed;  
}

/* h1 {
font-family: 'Lobster', cursive;
font-size: 50px;
color: #4644f0;
} */

.canvas-header {
	width: 100%;
}
/* .canvas-navbar {
	display: flex;
	width: 50%;
	margin-left: -900px;
} */

.draw-area {

width: 1180px;
height: 560px;
border: 2px solid #808080;
position: relative;
background-color: white;

}
.canvas-top {
	display: flex;
	width: 100%;
	/* justify-content: center; */
}

.spinner-container {
	display: flex;
	justify-content: flex-start;
	width: 100px;
	height: 60px;
	/* border: solid red; */

}

.auto-save-spinner {
	display: flex;
	flex-wrap: wrap;
	/* border: solid blue; */
	/* flex-direction: column; */
	width: 100px;
	height: 45px;
	
	
}

.canvas-menu-container {
	display: flex;
	/* flex-direction: column; */
	/* flex-wrap: wrap; */
	/* border: solid green; */
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 90%;
	/* padding-right: 40px; */
	margin-top: -100px;
}
/* .canvas {
	border: solid red;

	
} */


.canvas-menu {
width: 100%;
height: 50px;
display: flex;
flex-wrap: wrap;
justify-content: center;
border-radius: 5px;
align-items: center;
background-color: #a3a3a32d;
margin: auto;
margin-top: 10px;
}

/* .button-container {
	display: flex;
	
	flex-wrap: wrap;
	width: 300px;
	border: solid green;
} */
.brush-color-container {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 200px;
	margin-right: 2px;
	
	/* border: solid red; */
}

.brush-color-label {
	color: white;
	margin: 5px;
}

.brush-color {
	height: 20px;
	width: 70px;
	border-radius: 5px;

	
}
.rbg-buttons {
	/* display: flex;
	flex-direction: column; */
	/* flex-wrap: wrap; */
	height: 40px;
	width: 40px;
	margin: 1px;	
	border-radius: 30px;
	
}

.brush-width-container {
	/* border: solid black; */
	display: flex;
	flex-wrap: wrap;
	align-items: center;


}
.brush-width-label {
	color: white;
	margin: 3px;
}

.square, .round, .erase, .save, .clear, .download {
	border-radius: 10px;
	margin: 2px;
	
}