.profile-container {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;    
    width: 100%;   
    background-size: cover;  
    background-image: url('../../assets/../assets/grid_background.png');
    background-attachment: fixed;   
}

.profile-header-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile-navbar {
    display: flex;
    width: 50%;
}

.profile-pics-container {
   display: flex;
   flex-direction: column;
   justify-content: center;       
}

.me-pic, .user-pic {
    display: flex;
    justify-content: center;
}

.pic-container {
    display: flex;
    align-items: center; 
    height: 100%;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;      
}

.profile-pic{
    display: flex;
    flex-wrap: wrap;
    margin: 20px; 
    border: solid 8px lightgray;      
    width: 200px; 
    height: 200px; 
    overflow: hidden; 
    border-radius: 50%;      
    background-size: 200px;
    background-position: 45%;
}

.image{
    width: 100%; 
    height: 100%; 
    object-fit: cover;  
}

.profile-post-container {
    width: 100%;
    display: flex;
    flex-direction: column;      
}

.profile-name {
    text-align: center;    
    font-size: medium;   
}

.profile-postform-container {
    width: 100%;
    display: flex;
    flex-direction: column;   
}

.profile-postlist-container {
    width: 100%;
    display: flex; 
    flex-direction: column;
}

@media only screen and (max-width: 1200px) {
    .profile-navbar {
      width: 40%;
    
    }
  }
  
  @media only screen and (max-width: 992px) {    
    .profile-navbar {
      width: 65%;
     margin-bottom: 10px ;
    }
  }
  
  @media only screen and (max-width: 600px) {  
    .profile-navbar {
      width: 100%;
    }
  }