.challenge-container {
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    justify-content: center;   
    width: 100%;
    /* height: 100vh; */
    background-size: cover;  
    background-image: url('../../assets/../assets/grid_background.png');
    background-attachment: fixed;  
}

.challenge-navbar {
    display: flex;
    width: 50%;
}
.navbar-header {
    display: flex;
    flex-direction: column;  
    width: 100%;
}

.time-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    /* border: solid red; */
    margin-top: 5px;
    padding: 3px;
    border-radius: 10px;
    background-color: lightgray;

}

@media only screen and (max-width: 1200px) {
    .challenge-navbar {
      width: 40%;
    
    }
  }
  
  @media only screen and (max-width: 992px) {
    .challenge-navbar {
      width: 65%;
      margin-bottom: 10px ;
    }
  }
  
  @media only screen and (max-width: 600px) {  
    .challenge-navbar {
      width: 100%;
    }
  }