.challenge-container {
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    justify-content: center;   
    width: 100%;
}

.current-container {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    width: 100%;
    /* border: solid lightgray; */
    font-size: large;
    

.current-challenge {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    margin-top: 20px;
    padding: 3px;
    border: solid black;
    border-radius: 10px;
    background-color: beige;
    font-weight: bold;
}

}

.time-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 400px;
    /* border: solid red; */
    margin-top: 5px;
    padding: 3px;
    border-radius: 10px;
    background-color: lightgray;

}