.navbar-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 0.2rem;
    padding-bottom: 0.6rem;
    border-bottom: 4px solid black;
    border-left: 4px solid black;
    border-right: 4px solid black;
    background-image: url('../../assets/rainbow.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    transition: background-color 0.3s;
    border-bottom-right-radius: 50px;
}

.navbar-container.scrolled {
    background-color: rgba(255, 255, 255, 0.8); /* Example: Fade to 80% opacity white */
}

.navbar-canvas,
.navbar-challenge,
.navbar-logout {
    display: flex;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    background: white;
    box-shadow: 3px 6px #000634;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-out;
    text-decoration: none;
    margin: 0 5px;
}

.navbar-logout-label {
    background-color: transparent;
    border: none;
    color: #000000;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .navbar-canvas,
    .navbar-challenge,
    .navbar-logout {
        width: 100px;
    }
}

/* Bouncy hover effect */
.navbar-canvas:hover,
.navbar-challenge:hover,
.navbar-logout:hover {
    animation: bounce 0.6s ease infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}



@media only screen and (max-width: 768px) {
    .navbar-canvas, .navbar-challenge, .navbar-logout {
        width: 100px;
    }
  }